:root {
	--black: #101010;
	--white: #fbfbfb;
	--trans-white: #fbfbfb75;
	--dark-gray: #2f2f2f;
	--transp-plum: hsl(315, 17%, 41%, 0.75);
	--light-plum: hsl(315, 29%, 71%);
	--medium-plum: hsl(315, 36%, 47%);
	--dark-plum: hsl(315, 51%, 20%);
	--small-text: clamp(0.8rem, 0.2rem + 3.265vw, 1.05rem);
	/* --inline-padding-margins: clamp(0.7em, 0.4em + 1.9vw, 3.5em); */
	--inline-padding-margins: clamp(0.7em, 0.34em + 1.9vw, 3.5em);
	--black-text-shadow:
		0.35px 0.35px .25px var(--black),
		0.35px -0.35px .25px var(--black),
		-0.35px 0.35px .25px var(--black),
		-0.35px -0.35px .25px var(--black);
}

/* Base sizing: (min-width:626px) and (max-width:1250px) */
html {
	height: 100dvh;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: var(--dark-gray);
	color: var(--white);
}

body,
h1,
p,
.subheading,
main,
footer {
	margin: 0 auto;
	text-wrap: balance;
}

main {
	width: min(100%, 975px);
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;

	/* Firefox, Safari 18.2+, Chromium 121+ */
	&::-webkit-scrollbar {
		display: none;
		/* Older Safari and Chromium */
	}
}

.bodoni-moda-sc {
	font-family: "Bodoni Moda SC", serif;
	font-optical-sizing: auto;
}

.open-sans-smiths {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
	/* letter-spacing: .012em; */
}

.rocker-boys {
	flex-direction: column;
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("images/rockers.jpg");
	height: 100dvh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.color-band {
	background-color: var(--transp-plum);
	display: flex;
	flex-direction: column;
	margin-block: clamp(0.5rem, -0.2vh + 1.9vh, 2.5vh) 0;
	padding-block: clamp(0.6rem, -0.4vh + 4.2vh, 2.1vh);
	padding-inline: var(--inline-padding-margins);
	backdrop-filter: blur(2px);

	> * {
		max-width: 1010px;
		text-align: center;
		text-transform: uppercase;
	}

	h1 {
		/* font-size: clamp(0.7rem, 5.85vw, 3.5rem); */
		font-size: clamp(0.7rem, 6.3vw, 3.5rem);
		font-weight: 750;
		word-spacing: 0.08em;
		line-height: 1.22;
		text-wrap: balance;
		-webkit-text-stroke-width: .5px;
		-webkit-text-stroke-color: var(--white);
		max-width: 1000px;
		text-shadow: var(--black-text-shadow);
	}

	.subheading {
		font-size: clamp(0.7rem, 0.2rem + 2.4vw, 1.5rem);
		font-weight: 350;
		letter-spacing: 0.012em;
		word-spacing: 1.5px;
		padding-left: .25em;
		margin-top: .125em;
	}
}

main {
	display: flex;
	flex-direction: column;
	flex: auto;
	overflow-y: auto;
	padding-inline: calc(1.2 * var(--inline-padding-margins));
	justify-content: space-between;
}

main > div.inner-main-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	margin-top: 1rem;
}

footer {
	--white: #fbfbfbb8;
	margin-block: 2.2vh 1.7vh;
	width: 100%;

	.footer-text-div {
		width: min(78%, 800px);
		margin: 0.9em auto 0 auto;
	}

	p {
		font-size: calc(.86 * var(--small-text));
		color: var(--white);
		font-weight: 350;
		text-align: center;
		line-height: 1.5;
		backdrop-filter: blur(5px);
		width: fit-content;
	}

	hr {
		border: none;
		border-top: 1px solid var(--white);
		margin-block: 0;
	}

	.footer-top-line {
		width: 90%;
	}

	.footer-bottom-line {
		margin-top: 0.4em;
		width: 82%;
	}
}

.pointless-button-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* justify-content: end; */
	padding-inline: var(--inline-padding-margins); }
}

#input-box {
	display: flex;
	gap: 0.7em;
	flex: 1 1 auto;
	align-items: center;
}

button {
	background-color: var(--transp-plum);
	color: var(--white);
	font-family: "Open Sans", sans-serif;
	font-size: var(--small-text);
	font-weight: 530;
	word-spacing: 1px;
	text-wrap: nowrap;
	text-shadow: 0 0 1px black;
	border: 1px solid var(--medium-plum);
	border-radius: 11px;
	box-shadow: 3px 3px 1px hsl(315, 25%, 30%, .6);
	height: 40px;
	padding-inline: 1.7em;
}

@media (hover: hover) {
	button:hover {
		background-color: hsla(315, 16%, 40%, 0.75);
		box-shadow: 3px 3px hsla(315, 26%, 30%, 0.75);
		/* transition: .1s ease-in-out, box-shadow 1.1s ease-in-out; */
	}
}

button:active {
	background-color: hsl(315, 16%, 38%, 0.9);
	box-shadow: 2px 2px hsl(315, 26%, 34, 0.9%);
	transform: translateY(1px) translateX(1px) scale(98%);
}

#valentine-container {
	margin-block: 0.5rem;
	border: black 0.5px solid;
	padding: 15px;
	background-color: white;
	width: min(96%, 365px);
	margin-inline: auto;
	display: none;
	opacity: 0;
	transition: opacity .25s 0s ease-out;

	&.fade-in {
		opacity: 0.9;
		transition: opacity .3s 0s ease-in;
	}
}

.valentine-inner-container {
	display: flex;
	align-items: center;
	border: solid 1px var(--black);
	background-color: var(--white);
	z-index: 1;
	position: relative;
	aspect-ratio: 9 / 14;
}

#valentine-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.55);
}

p.valentine-words {
	color: var(--light-plum);
	font-weight: 900;
	/* TODO */
	font-size: clamp(0.9rem, -0.2rem + 7.5vw, 1.7rem);
	text-align: center;
	z-index: 2;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	-webkit-text-stroke: 0.9px black;
	text-shadow: 0 0 2px black;
	line-height: 1.17;
	text-transform: uppercase;
	padding: 0 0.32rem;
	backdrop-filter: blur(1px);
}

p.valentine-words.top {
	top: 0;
	margin-top: 0.38rem;
}

p.valentine-words.bottom {
	bottom: 0;
	margin-bottom: 0.38rem;
}

p#note {
	display: none;
	font-size: 0.85em;
	text-align: center;
	color: var(--trans-white);
	margin-inline: auto;
	margin-block: 1.5rem 0.9rem;
}

/* ================================================= */
/* ================= MEDIA QUERIES ================= */
/* ================================================= */

@media (max-width: 500px) {
	.rocker-boys {
		background-position: right;
	}

	.color-band {
		h1 {
			/* font-size: clamp(1rem, 6.2vw, 2.2rem); */
			font-size: clamp(1rem, -0.13rem + 6.5vw, 2.2rem);
			letter-spacing: 0.02em;
		}

		.subheading {
			font-size: clamp(0.6rem, 0.15rem + 2.7vw, 1.55rem);
			margin-top: .35em;
		}
	}

	button {
		width: 100%;
		margin-left: unset;
	}

	p.valentine-words {
		text-shadow: 0 0 3px black;

	}

	p#note {
		font-size: 0.75em;
	}
}

@media(height < 600px) {
	.color-band {
		margin-block: .5em 0;
		padding-block: .5em;

		> h1 {
			font-size: 2.2rem !important;
		}

		> .subheading {
			font-size: 1.2rem;
		}
	}
}